<div class="betDialog">
	You have $<span id="currentMoney"></span>.
	<br/><br/>
	How much would you like to bet on the next hand?
</div>
<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Enter a bet between 10 and <span id="maxBet"></span></div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
      				<div id="textField" name="textField"  x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="continue" class="palm-button affirmative buttonfloat">Continue</div>