<div id="main">
    <ul id="cardArea" class="column">
        <li class="tableSection">
            <h5>DEALER</h5>
            <div id="dealerSection">
                <div></div>
            </div>
        </li>
    </ul>
    <ul id="infoArea" class="column">
        <li class="tableSection">
		    <h5>BET</h5>
            <div id="bet"></div>
        </li>
        <li class="tableSection">
            <h5>CASH</h5>
            <div id="money"></div>
        </li>
        <li class="tableSection">
            <h5>POINTS</h5>
            <div id="points"></div>
        </li>
    </ul>
    <div class="tableSection">
        <h5>PLAYER</h5>
        <div id="playerSection">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

