<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"></div>
		<div class="title">Preferences</div>
	</div>
</div>
<div id="preferencesList" class="palm-list">
	<div class="palm-row first">
		<div class="palm-row-wrapper">
			<div x-mojo-element="ListSelector" id="numberOfDecks"></div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div x-mojo-element="ToggleButton" id="soundEnabled"></div>
			<div class="title toggleButtonLabel" x-mojo-loc=''>Sounds</div>
		</div>
	</div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
			<div x-mojo-element="ToggleButton" id="cardBackColor"></div>
			<div class="title toggleButtonLabel" x-mojo-loc=''>Card Color</div>
		</div>
	</div>
</div>
