ul.column {
	list-style: none;
	margin: 0 5px;
	padding: 0;
	text-align: center;
}

.tableSection {
	text-align: center;
}

div.tableSection {
	margin: 0 5px;
}

.tableSection > h5 {
	color: yellow;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.tableSection > div {
	border-color: yellow;
	border-style: solid;
	border-width: 3px;
	font-size: 0.8em;
	padding: 5px;
	-webkit-border-radius: 10px;
}

#cardArea {
	float: left;
	width: 220px;
}

#infoArea {
	float: right;
	font-size: 0.8em;
	margin-top: 4px;
	width: 80px;
}

#main {
	color: white;
}

#dealerSection {
	height: 111px;
}

#playerSection > div {
	display: inline-block;
	margin: 0;
}

.tableSurface {
	background-image: url(../images/felt.png);
	background-repeat: repeat;
}
.palm-menu > .palm-menu-fade, .palm-menu.command-menu.palm-default > .palm-menu-fade {
	background-image: none;
}

.betDialog {
	font-size: 0.9em;
	padding: 0.7em;
}

.card {
	display: inline-block;
	height: 107px;
	margin-left: -52px;
	width: 75px;
}

.card:first-child {
	margin-left: 0px;
}

#playerSection > div.currentHand {
	border-bottom-color: yellow;
	border-bottom-style: solid;
	border-bottom-width: 3px;
	border-top-color: yellow;
	border-top-style: solid;
	border-top-width: 3px;
	padding: 3px 0;
	-webkit-border-radius: 10px;
}

.palm-divider {
	clear: both;
}

.list_scene, .img_email, .img_phone, .img_web, .img_icon {
	background-position: bottom;
	background-repeat: no-repeat;
	float: left;
	height: 32px;
	width: 32px;
}

.list_scene, .img_email, .img_phone, .img_web {
	left: 8px;
	padding: 0px 0px 0px 5px;
	position: relative;
	top: 10px;
	vertical-align: bottom;
}

.img_icon {
	left: 10px;
	padding: 10px 0px 0px 5px;
	position: absolute;
	top: 5px;
}

.list_scene, .img_icon {
	background-image: url(../icon32x32.png);
}

.img_email {
	background-image: url(../images/application-email.png);
}

.img_phone {
	background-image: url(../images/application-phone.png);
}

.img_web {
	background-image: url(../images/application-web.png);
}

#preferencesList .title.toggleButtonLabel {
	color: rgb(31, 117, 191);
	font-size: 14px;
	text-shadow: rgb(255, 255, 255) 0px 1px 0px;
	text-transform: uppercase;
}

#numberOfDecks div.label.truncating-text {
	max-width: 50%;
}