<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"></div>                        
		<div class="title">House Rules</div>      
	</div>
</div>
<div class="palm-text-wrapper">                    
	<div class="palm-body-text">
		The rules used for this Blackjack game are as follows:
		<br/>
		<ul>
			<li>Only a single deck of cards is used</li>
			<li>Blackjack pays 3:2 to the player</li>
			<li>Dealer stands on soft 17</li>
			<li>Player may surrender and only lose half of the bet</li>
			<li>Player may split to a maximum of 4 hands</li>
			<li>Player may split aces</li>
			<li>Player may not double down or surrender after split</li>
		</ul>
		</br>
		To learn more about what these rules mean, 
		see the "About Blackjack" link in the help section. 
	</div>
</div>