<div class="palm-page-header">
	<div class="palm-page-header-wrapper">
	    <div id="appIcon" class="img_icon"></div>                        
		<div class="title">Blackjack Help</div>      
	</div>
</div>
<div class="palm-text-wrapper">
	    <div class="title left" id="appname"></div>                         
		<div class="palm-body-text" id="appdetails"></div>
</div>
<div id='MyListContainer'>
	<div id="AppHelp_list" x-mojo-element="List" >
	</div>
</div>

<div id='MyListContainer'>
	<div id="AppSupport_list" x-mojo-element="List" >
	</div>
</div>
<div class="palm-text-wrapper">
	  <div class="palm-body-text" id="copywrite"></div>
	  <div class="palm-body-text">
	  	Card images used in this game were created by by Jesse Fuchs and Tom Hart and are 
		<a href="http://www.eludication.org/playingcards.html">available for use</a> 
		under a 
		<a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons license.</a>
		<br/> 
	  </div>
</div>
